{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'account/css/home.css' %}">
{% endblock %}



{% block content %}

 <!--   <div class="someDive">
              
            </div>
 -->
    <div class="container">

        <div class="content__block">

          <div class="content__left">
            <div class="left__items">
              <div class="left__ava">
                {% if mydata.image %}
                  <img src="{{ mydata.image.url }}" alt="">
                {% else %}
                  <img width='250px' src="{% static 'account/img/ava.jpg' %}" alt="">
                {% endif %}
              </div>
              <div class="left__edit">
                <a href="{% url 'account:edit' %}">Редактировать профиль</a>
                <br>
                
              </div>
            </div>
          </div>

          <div class="content__right">
            <div class="right__items">
              <div class="right__nickname">
                @{{ user.username }}
              </div>
              <div class="right__links">
                  <div class="right__link">
                       <a onclick='document.querySelector(".content__block2").scrollIntoView(true); return false;' href="#">{{ posts.count }} публикаций</a>
                  </div>
                  <div class="right__link">

                      <a href="{% url 'account:follower_list' %}">{{ followers.count }} подписчиков </a>
                  </div>
                  <div class="right__link">
                      <a href="{% url 'account:subs_list' %}">{{ subs.count }} подписок </a>
                  </div>
              </div>
              <div class="right__status">
                  {{ user.profile.status }}
              </div>
              <div class="right__tags">
                    {% for i in tags %}

                        #{{ i }}
                     
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="content__third">
            <div class="">
              <a href="{% url 'search:user_search' %}">
                <img width="60px" src="{% static 'account/img/last1.png' %}" alt="">
              </a>
              
            </div>
            <div class="">
              <img width="60px" src="{% static 'account/img/last2.png' %}" alt="">
            </div>
            <div class="">
              <img width="60px" src="{% static 'account/img/last3.png' %}" alt="">
            </div>
           <!--  <div class="">
              Уведомления
            </div> -->
          </div>
        </div>



        <div class="content__block2">

          <div class="content__news">

            {% for i in action %}
            {% with user=i.user profile=i.user.profile %}

              {% if profile.photo %}
              <a href="{{ user.get_absolute_url }}">
                <img width="50px" src="{{ user.profile.photo.url }}" alt="">
              </a>
              {% endif %}
              <div>
                <span>
                  {{ i.created }}
                  <div>
                    <a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
                    {{ i.verb }}
                  </div>
                </span>
              </div>
            {% endwith %}
            {% endfor %}

            <div class="content__lenta-title">
                Публикации друзей
            </div>

           
            {% if lenta %}
              {% for i in lenta %}
                <div class="news">
                  <div class="news__img">
                      {% if i.image %}
                        <img width="60px" src="{{ i.image.url }}" alt="">
                      {% endif %}
                  </div>
                  <div class="news__text">
                    {{i.user.username}} | {{ i.body }}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="lenta__emplty">
                  У вас пока нет друзей, чтобы видеть их публикации.
                  <a href="#">Заведи новых</a> 
              </div>
            {% endif %}

          </div>


   
          <div class="content__pub">
            <div class="post">
              <div class="post__all">
                 Ваши публикации
                <span class="post__button">
                <a href="{% url 'posts:create_post' %}">Cоздать запись</a>
              </span>
               <!--  <span class="post__button">
                <a href="">Новостная лента</a>
              </span> -->
              </div>
              {% for i in posts %}

              {% with total_likes=i.users_like.count users_like=i.users_like.all %}
              
              {% if i.image %}
              <div class="post__items">
                  <div class="post__img">
                      <img src="{{ i.image.url }}" alt=""><br>
                  </div>

              <div class="post__icon">

                <a href="#"  class='like' data-loop='{{ forloop.counter }}' data-id='{{ i.id }}' data-acton='{% if request.user in user_like %}un{% endif %}like'>
                  <img  src="{% static 'account/img/heart1.png' %}" alt="">
                </a>
                <a href="#">
                  <img  src="{% static 'account/img/comment1.png' %}" alt="">
                </a>
              </div>
              <div class="post__total-like{{  forloop.counter }}">
 
                  Нравиться: {{ total_likes }}

              </div>

              <div class="post__desc">
                <a href="">{{ i.body }}</a>
              </div>
               <div class="post__comment">
                <a href="#">Читать комментарии</a>
              </div>
              <div class="post__created">
                {{ i.created|date:"Y.m.d" }}
              </div>
            </div>
              {% else %}

              <div class="post__items noimg">
                 <div class="post__desc">
                     <a href="">{{ i.body }}</a>
                 </div>
                <div class="post__icon small-icon">
                     <a class='like' id='loop{{forloop.counter}}' href="#" data-id='{{ i.id }}' data-acton='{% if request.user in user_like %}un{% endif %}like' data-loop='{{ forloop.counter }}'>
                         <img  src="{% static 'account/img/heart1.png' %}" alt="">
                     </a>
                      <a href="#">
                          <img  src="{% static 'account/img/comment1.png' %}" alt="">
                     </a>
                 </div>
  
                 <div class="post__total-like{{  forloop.counter }}">
 
                  Нравиться: {{ total_likes }}

              </div>
               <div class="post__comment">
                <a href="#">Читать комментарии</a>
              </div>
              <div class="post__created">
                {{ i.created|date:"Y.m.d" }}
              </div>
            </div>


              {% endif %}
          {% endwith %}
      {% endfor %}
            </div>
          </div>
        </div>

      </div>





{% endblock %}



{% block domready %}

  
  $('a.like').click(function(e) {
    e.preventDefault();
    $.post(
      '{% url "posts:post_like" %}',
      {id: $(this).data('id'), action: $(this).data('action'), loop: $(this).data('loop')},
      function(data) {

        if (data['status'] == 'ok') {
          var previous_action = $(`#loop${loop}`).data('action');

          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

          var loop = parseInt($(`.post__total-like${data['loop']}`).text().split(': ')[1])

          var text = 'Нравится:' + (previous_action == 'like' ? loop + 1 : loop - 1)
          $(`.post__total-like${data['loop']}`).text(text);


         
          console.log(loop, previous_action)
        }
      }
    )
  })

{% endblock %}