{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'account/css/home.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="content__block">

          <div class="content__left">
            <div class="left__items">
              <div class="left__ava">
                {% if mydata.image %}
                  <img src="{{ mydata.image.url }}" alt="">
                {% else %}
                  <img width='250px' src="{% static 'account/img/ava.jpg' %}" alt="">
                {% endif %}
              </div>
              <div class="left__edit">
                <a href="{% url 'account:edit' %}">Редактировать профиль</a>
                <br>
              </div>
            </div>
          </div>

          <div class="content__right">
            <div class="right__items">
              <div class="right__nickname">
                @{{ user.username }}
              </div>
              <div class="right__links">
                  <div class="right__link">
                       <a onclick='document.querySelector(".content__block2").scrollIntoView({behavior: "smooth",block: "start"});; return false;' href="#">{{ posts.count }} публикаций</a>
                  </div>
                  <div class="right__link">

                      <a href="{% url 'account:follower_list' %}">{{ followers.count }} подписчиков </a>
                  </div>
                  <div class="right__link">
                      <a href="{% url 'account:subs_list' %}">{{ subs.count }} подписок </a>
                  </div>
              </div>
              <div class="right__status">
                  {{ user.profile.status }}
              </div>
              <div class="right__tags">
                    {% for i in tags %}
                        #{{ i }}
                    {% endfor %}
              </div>
            </div>
          </div>

          <div class="content__third">
            <div class="third__items">
              <a href="{% url 'search:user_search' %}">
                <img width="60px" src="{% static 'account/img/icon_search.png' %}" alt="">
              </a>

              <a href="">
                <img width="60px" src="{% static 'account/img/icon_message.png' %}" alt="">
              </a>
     
              <a href="">
                 <img width="60px" src="{% static 'account/img/icon_tools.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="content__block2">
          <div class="content__prenews">

            <div class="content__lenta-title">
                Публикации друзей
            </div>

            <div class="content__news">
              {% if lenta %}
                {% for i in lenta %}
                  {% if i.image %}
                    <div class="news">
                        <div class="news__img">
                            <img width="60px" src="{{ i.image.url }}" alt="">
                        </div>
                        <div class="news__text">
                          <div class="news__ava">
                              <a href="{% url 'account:user_profile' i.user.id %}"><!-- {{i.user.username}} --><img src="{{ i.user.profile.image.url }}" alt="">
                              </a> 
                          </div>
                          <div class="news__username">
                              {{ i.user}}
                          </div>

                        </div>
                        <div class="news__body">
                          {{ i.body|truncatewords:10 }} 
                        </div>
                        <div class="news__bodyback"></div>  
                    </div>
            
                  {% endif %}
                {% endfor %}
              {% else %}
              <div class="lenta__emplty">
                  У вас пока нет друзей, чтобы видеть их публикации.
                  <a href="#">Заведи новых</a> 
              </div>
            {% endif %}
          </div>
        </div>
      

          <div class="content__pub">
            <div class="post">
              <div class="post__all">
                 Ваши публикации
                <span class="post__button">
                <a href="{% url 'posts:create_post' %}">Cоздать запись</a>
                </span>
              </div>

              {% for i in posts %}
              {% with total_likes=i.users_like.count users_like=i.users_like.all %}
                  {% if i.image %}
                    <div class="post__items">
                        <div class="post__img">
                            <img src="{{ i.image.url }}" alt=""><br>
                        </div>

                        <div class="post__icon">

                          <a href="#"  class='like' id='loop{{forloop.counter}}' data-loop='{{ forloop.counter }}' data-id='{{ i.id }}' data-action='{% if request.user in users_like %}un{% endif %}like'>
        
                            {% if request.user in users_like %}
                              <img  src="{% static 'account/img/heart3.png' %}" alt="">
                            {% else %}
                              <img  src="{% static 'account/img/heart1.png' %}" alt="">
                            {% endif %}
                          
                          </a>
                          <a href="" onclick="return false;" class="comment" id='comment-loop{{forloop.counter}}' data-loop='{{ forloop.counter }}' data-id='{{ i.id }}'>
                            <img  src="{% static 'account/img/comment1.png' %}" alt="">
                          </a>
                        </div>

                        <div class="post__total-like{{  forloop.counter }} post__total-like">
                            Нравится: {{ total_likes }}
                        </div>

                        <div class="post__desc">
                          <a href="#" onclick="return false" >{{ i.body }}</a>
                        </div>

                        <div class="post__comment">
                          <div id='comment-form{{ forloop.counter }}' class="post__comment-form">
                            <div class="comment__list">
                                  
                                  {% for c in comments %}
                                    {% if c.post == i %}

                                      <div class="list">
                                        <div class="list__user">
                                            {{ c.nickname.username }}
                                            <span>{{ c.created }}</span>
                                        </div>
                                        <div class="list__body">
                                            {{ c.body }}
                                        </div>   
                                      </div>
                                      
                                    {% endif %}
                                  {% endfor %}

                            </div>
                     
                            <div class="comment">
                                <div class="comment__form">
                                   <form id='form' action="." method="post">
                                      {% csrf_token %}
                                      <div class="comment__user">
                                          @{{ request.user.username }}
                                      </div>
                                      <div class="comment__input" data-user='{{ request.user }}' data-postid='{{ i.id }}'>
                                            {{ form.body }}
                                            <input type="hidden" name='postid' value='{{i.id}}'>
                                      </div>
                                      <div class="comment__button">
                                        <input class='comments__submit' data-loop='{{ forloop.counter }}' type='submit' onclick="return false;" value='Комментировать'>
                                        <div class="flood">
                                          <img width='200px' src="{% static 'account/img/flood.gif' %}" alt="">
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                          </div>
                      </div>

                <div class="post__created">
                  {{ i.created|date:"j.m.o" }}
                </div>

              </div>

              {% else %}

              <div class="post__items noimg">

                  <div class="post__desc">
                      <a href="">{{ i.body }}</a>
                  </div>

                  <div class="post__icon small-icon">
                       <a class='like' id='loop{{forloop.counter}}' href="#" data-id='{{ i.id }}' data-action='{% if request.user in users_like %}un{% endif %}like' data-loop='{{ forloop.counter }}'>
                            {% if request.user in users_like %}
                              <img  src="{% static 'account/img/heart3.png' %}" alt="">
                            {% else %}
                              <img  src="{% static 'account/img/heart1.png' %}" alt="">
                            {% endif %}
                       </a>
                       <a href="" onclick="return false;" class="comment" id='comment-loop{{forloop.counter}}' data-loop='{{ forloop.counter }}' data-id='{{ i.id }}'>
                            <img  src="{% static 'account/img/comment1.png' %}" alt="">
                       </a>
                  </div>
  
                  <div class="post__total-like{{  forloop.counter }} post__total-like">
                      Нравится: {{ total_likes }}
                  </div>

                <div class="post__comment">
                    <div id='comment-form{{ forloop.counter }}' class="post__comment-form">
                        <div class="comment__list">
                            {% for c in comments %}
                              {% if c.post == i %}
                                <div class="list">
                                  <div class="list__user">
                                      {{ c.nickname.username }}
                                      <span>{{ c.created }}</span>
                                  </div>
                                  <div class="list__body">
                                      {{ c.body }}
                                  </div>   
                                </div>  
                              {% endif %}
                            {% endfor %}
                        </div>
                     
                        <div class="comment">
                            <div class="comment__form">
                               <form id='form' action="." method="post">

                                  {% csrf_token %}

                                  <div class="comment__user">
                                      @{{ request.user.username }}
                                  </div>
                                  <div class="comment__input small-input" data-user='{{ request.user }}' data-postid='{{ i.id }}'>

                                        {{ form.body }}

                                        <input type="hidden" name='postid' value='{{i.id}}'>
                                  </div>
                                  <div class="comment__button">
                                    <input class='comments__submit' data-loop='{{ forloop.counter }}' type='submit' onclick="return false;" value='Комментировать'>
                                    <div class="flood">
                                      <img width='200px' src="{% static 'account/img/flood.gif' %}" alt="">
                                    </div>
                                  </div>
                                </form>
                            </div>                
                        </div>
                    </div>
                </div>

                <div class="post__created">
                  {{ i.created|date:"j.m.o" }}
                </div>
              </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}




<!-- JAVASCRIPT CODE:  НУЖНО ПЕРЕНЕСТИ В ОТДЕЛЬНЫЙ ФАЙЛ -->
{% block domready %}

  <!-- ЛАЙК -->
  $('a.like').click(function(e) {
    e.preventDefault();
    $.post(
      '{% url "posts:post_like" %}',
      {id: $(this).data('id'), action: $(this).data('action'), loop: $(this).data('loop')},
      function(data) {

        if (data['status'] == 'ok') {

          var previous_action = $(`#loop${data['loop']}`).data('action');
          $(`#loop${data['loop']}`).data('action', previous_action == 'like' ? 'unlike' : 'like');

          var int_like = parseInt($(`.post__total-like${data['loop']}`).text().split(':')[1])

          var text = 'Нравится: ' + (previous_action == 'like' ? int_like + 1 : int_like - 1)
          $(`.post__total-like${data['loop']}`).text(text);

          var some = $(`#loop${data['loop']}`).find('img')

          if (previous_action == 'like') {
            some.attr('src', '{% static 'account/img/heart3.png' %}')
          } else {
            some.attr('src', '{% static 'account/img/heart1.png' %}')
          }
        }
      }
    )
  })


  $('.comment__button input').on('click', function(e) {
    var ids = $(this).parent().parent().find('.comment__input');
    var cleanthen = ids.parent().find('.comment__input input');
    var loop = $(this).data('loop')
    
    $.post(
      '{% url "posts:save_comment" %}',
      {id: ids.data('postid'), query: ids.find('#id_body').val(), user : ids.data('user') },
      function(data) {
 
        if (data['status'] == 'ok') {
          var p = $('<div></div>', {'class': 'list'})
            $(`#comment-form${loop}`).find('.comment__list').append(
                      `<div class="list"><div class="list__user">{{ request.user }}<span> сейчас</span></div><div class="list__body">` + data['query'] + `</div></div>`).slideDown()
            cleanthen.val('')
            $('.flood').css({'display' : 'block'})
        } else {
          console.log('Напишите комментарий')
        }
      }
    )
  })

  $(window).resize(function(e) {
      var widthAva = $('.left__ava').width()
      $('.left__ava').css({
          'height' : `${widthAva}`
      })

      var widthWindow = $(window).width();

      if (widthWindow > 626) {

        $('.content__prenews').css({
        'flex' : '0 1 20%',
        'padding': '20px'
      })

        console.log('lol')
    }

    })


    $('.news').hover(function(e) {
      $(this).find('.news__text').css({'opacity' : '0.90'});
      $(this).find('.news__body').slideDown()
      $(this).find('.news__bodyback').slideDown()
    }, 
    function(e) {
      $(this).find('.news__text').css({'opacity' : '0'});
      $(this).find('.news__body').slideUp();
      $(this).find('.news__bodyback').slideUp()

    })


{% endblock %}