<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
  </head>
  <body
    style="
      background-color: #dfdfdf;
      font-size: 20px;
      color: #374151;
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
    "
  >
    <table
      class="tg"
      style="
        border-collapse: collapse;
        border-spacing: 0;
        width: auto;
        background: url(./images/tickets_left_lg.png) left 30px top 30px
            no-repeat,
          url(./images/tickets_right_lg.png) right 30px top 70px no-repeat,
          #ffffff;
        background-size: auto;
        border-radius: 10px;
        box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
      "
    >
      <thead>
        <tr class="tg-top-bottom" style="height: 50px">
          <th
            colspan="5"
            style="
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
              text-align: center;
            "
          ></th>
        </tr>
        <tr>
          <th
            class="tg-left-right"
            style="
              width: 12.5%;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
              text-align: center;
            "
          ></th>
          <th
            class="tg-main"
            colspan="3"
            style="
              text-align: center;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          >
            <a
              href="{{ front_url }}"
              target="_blank"
              style="color: #ab7f26; text-decoration: none"
              ><img class="logo" src="{{ images.image_logo.url }}"
            /></a>
          </th>
          <th
            class="tg-left-right"
            style="
              width: 12.5%;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
              text-align: center;
            "
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
          <td
            colspan="3"
            class="tg-main"
            style="
              text-align: center;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          >
            <p class="gracias" style="font-size: 20px; color: #3b3b3b">
              <b>
                Bienvenido a
                <a
                  href="{{ front_url }}"
                  target="_blank"
                  style="color: #ab7f26; text-decoration: none"
                  >TICKETCRUSH
                </a></b
              >
            </p>
            <p>Recibiste este correo porque estabas registrado.</p>
          </td>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
        </tr>
        <tr class="section-header">
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
          <td
            colspan="3"
            class="tg-main section-header"
            style="
              text-align: center;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 25px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          >
            DETALLES DE SU CUENTA
          </td>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
        </tr>
        <tr>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
          <td
            colspan="3"
            style="
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          >
            <ul
              class="detalles"
              style="
                box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px -0px 13px 2px rgba(0, 0, 0, 0.2);
                list-style: none;
                text-align: center;
                width: auto;
                padding: 25px;
                margin: 5px 10px 15px 10px;
                background: #ffffff;
                border-radius: 15px;
              "
            >
              <li
                class="login-description"
                style="
                  padding: 0 0 0 0;
                  margin: 15px 0px 5px 0px;
                  font-weight: bold;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                "
              >
                Inicio de sesión:
              </li>
              <li
                class="login"
                style="
                  padding: 0 0 0 0;
                  margin: 0 0 0 0;
                  font-size: 20px;
                  display: block;
                  padding-bottom: 15px;
                  border-color: transparent;
                  border-bottom: #ebdba2;
                  border-style: solid;
                  border-width: 1px;
                "
              >
                {{ email }}
              </li>
              <li
                class="password-description"
                style="
                  padding: 0 0 0 0;
                  margin: 15px 0px 5px 0px;
                  font-weight: bold;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                "
              >
                Contraseña:
              </li>
              <li
                class="password"
                style="
                  padding: 0 0 0 0;
                  margin: 0 0 0 0;
                  font-size: 20px;
                  display: block;
                  padding-bottom: 15px;
                "
              >
                {{ password }}
              </li>
            </ul>
          </td>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
        </tr>
        <tr class="section-header">
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
          <td
            colspan="3"
            class="tg-main section-header"
            style="
              text-align: center;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 25px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          >
            <a href="{{ front_url }}/special"
              ><button
                style="
                  border-radius: 15px;
                  background-color: #ab7f26;
                  background-image: linear-gradient(
                    to right,
                    rgba(237, 223, 154, 0.929) 0%,
                    rgba(218, 190, 102, 0.855) 20.31%,
                    rgba(222, 195, 106, 0.871) 43.23%,
                    rgba(218, 190, 102, 0.855) 59.9%,
                    rgba(236, 221, 150, 0.925) 78.12%,
                    rgba(203, 167, 80, 0.796) 100%
                  );
                  padding: 15px 50px 15px 50px;
                  font-size: 18px;
                  margin: 0 0 30px 0px;
                  color: #fff;
                  font-weight: bold;
                  border: 0px;
                  text-transform: uppercase;
                  cursor: pointer;
                "
              >
                iniciar sesión
              </button></a
            >
          </td>
          <td
            class="tg-left-right"
            style="
              width: 12.5%;
              border-color: none;
              background: rgba(255, 255, 255, 0.8);
              border: none;
              font-family: Arial, sans-serif;
              font-size: 16px;
              overflow: hidden;
              padding: 10px 5px;
              word-break: normal;
            "
          ></td>
        </tr>
      </tbody>
      <tfoot style="text-align: center; background-color: #eada92">
        <td
          colspan="5"
          class="footer"
          style="
            border-color: none;
            background: rgba(255, 255, 255, 0.8);
            border: none;
            font-family: Arial, sans-serif;
            font-size: 12px;
            overflow: hidden;
            padding: 10px 25px;
            word-break: normal;
          "
        >
          <p>
            Para conocer las reglas detalladas del evento, haga clic
            <a
              href="{{ front_url }}/about"
              style="color: #ab7f26; text-decoration: none"
              >aquí</a
            >. Si tiene alguna pregunta, contáctenos en WhatsApp +102398012938.
          </p>

          <p>
            <a
              href="{{ front_url }}"
              target="_blank"
              style="color: #edb800; text-decoration: none"
              ><img
                class="logo-sm"
                src="{{ images.image_logo.url }}"
                style="padding-top: 10px; height: 30px"
            /></a>
          </p>

          <p class="small" style="font-size: 12px">© TicketCrush, 2023</p>
        </td>
      </tfoot>
    </table>
  </body>
</html>
