* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}










.search {
  margin: 30px;
  min-height: 50vh;



}

.search__title{
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0;
  color: #008394;
}

.search__field { 
/*background-color: #f2f2f2;*/
/*padding: 10px;*/
 }

.search__field input[type=text]{
  border: 0px solid #70898c;
  padding: 7px;
  /*border-radius: 6px;*/
  /*margin: 0 20px;*/
  background-color: #f2f2f2;
/*-webkit-box-shadow: 2px 0px 7px 0px rgba(74, 98, 116, 0.2) inset;
-moz-box-shadow: 2px 0px 7px 0px rgba(74, 98, 116, 0.2) inset;
box-shadow: 2px 0px 7px 0px rgba(74, 98, 116, 0.2) inset;*/

}

.search__button{
  padding: 7px;
  background-color: #c7c7c7;
  color: whitesmoke;
  font-weight: 500;

}

.search__results {
  margin: 30px 0;
  padding: 10px;
  border-top: 2px solid #c7c7c7;
}

.search__empty {
  font-size: 18px;
  margin: 0 10px;
}




.results {}
.results__total {
  font-weight: 700;
  padding: 0 0 0 1em;
  color: #636363;
}
.results__items {
  display: flex;
  margin: 15px 0;
  background-color: #679399;

  /*border-top-left-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
  border-radius: 15px;
  overflow: hidden;


}
.results__img {
  flex: 0 1 15%;

  width: 100%;
  height: 100%;
  
  overflow: hidden;
  /*border: 3px solid red;*/

}
.results__img img{
  width: 100%;
  height: 100%;
  
}
.results__text {
  flex: 0 1 85%;

  padding: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  color: whitesmoke;
  font-weight: 700;
}

.results__publish {
  font-weight: 300;
  color: #afd6db;
}

.results__title a{
  color: #e4f3f5;
  margin: 5px 0;
}

.results__title:hover a{
  color: #b8ced1;
}

.results__title {
  color: #e4f3f5;
  margin: 5px 0;
}

.results__body a {
  color: #89edfa;
}

.results__body:hover a {
  color: #00d1ed;
}








