* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}


.wrapper {}

.container{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}



/*НАВБАР*/
.nav {
  background-color: white;
  height: 60px;
  position: sticky;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.2);
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav__logo {
  flex: 0 0 10%;
}

.nav__logo img {
  height: 50px;
  padding: 0 0 3px 10px;
}

.nav__logo2{
  align-self: start;
}


.nav__links {
  flex: 0 1 60%;
}

.nav__link {
  display: flex;
  justify-content: space-around;
}

.nav__link a {
  color: black;
  font-size: 19px;
  font-weight: 600;
}

.nav__special:hover {
    color: #C0C0C0;
    outline-bottom: 3px solid black;
}



/*ИНТРО*/

.intro {
  height: 95vh;
  animation: for_intro 3s ease-in infinite alternate ;
}


@keyframes for_intro {
  0%{
    background: url('../img/intro.png') -300px 0/cover no-repeat, url('../img/intro20.jpg') 200px 0/cover no-repeat;
  }

  100%{
    background: url('../img/intro.png') -300px 0/cover no-repeat, url('../img/intro20.jpg') 300px 0/cover no-repeat;
  }
}


.intro__container{
  display: flex;
  align-items: center;
  position: relative;
}

.intro__title {
  font-size: 10vh;
  font-weight: 700;
  color: whitesmoke;
  flex: 0 1 40%;
  line-height: 50vh;

  position: absolute;
  top: 0;
  left: 0;
}

.intro__empty {
  flex: 0 1 60%;
}




/*ЛЕНТА РЕКОМЕНДУЕМЫХ (ГОРИЗОНТАЛЬНО)*/

.lenta {
  background-color: #002A33;
}


.lenta__container{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

.lenta__label   {
    font-size: 30px;
    color: #a1c0c7;
    padding: 20px 0 0 20px;
    font-weight: 700;
    text-transform: uppercase;

}
.lenta__item {
    padding: 5px;
    flex: 0 1 30%;
}

.lenta__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s linear;
  position: relative;
  height: 200px;
}

.lenta__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.lenta__img:hover {
  transform: scale(1.04);
}

.lenta__title a {
  font-size: 19px;
  color: whitesmoke;
  font-weight: 700;
}

.lenta__title {
  padding: 10px 0;
}

.lenta__title:hover a{
  color: #A9A9A9;
  transform: scale(0.9);
}

.lenta__publish {
  color: gray;
}



/*ОСНОВНЫЕ СТАТЬИ (В СЛЕВА И В ЦЕНТРЕ)*/

.content {

}

.content__tags {
  margin: 25px 10px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  overflow: hidden;
}

.content__tags a {
    color: #32d5fa;
    font-weight: 700;
}

.content__left_label{
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin: 15px 20px;
}

.content__right_label{
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin: 15px;
}


.content__container {
  display: flex;
  justify-content: space-between;
}

.content__left {
  flex: 0 1 20%;
}

.content__right {
  flex: 0 1 70%;
}

.content__item {
  margin: 25px 10px;
  background-color: #778899;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.1s ease-in;

-webkit-box-shadow: 0px 0px 13px 6px rgba(34, 60, 80, 0.21);
-moz-box-shadow: 0px 0px 13px 6px rgba(34, 60, 80, 0.21);
box-shadow: 0px 0px 13px 6px rgba(34, 60, 80, 0.21);
}

.content__item:hover {
    transform: scale(1.01);
}

.content__img{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.content__img img {
  width: 100%;
}

.content__title {
  padding: 10px 10px 0 10px;
  font-weight: 500;
  color: whitesmoke;
}

.content__title a{
  color: white;
  font-weight: 700;
}
.content__title:hover a {
    color: #d7dcde;
}
.content__text {
  padding: 10px;
  font-weight: 500;
}

.content__text a {
    color: #d3e0e3;
}
.content__text:hover a{
    color: #b6d2de;
}



/*КОНТАКТЫ*/

.contact {
    margin: 80px 0 0 0;
    padding: 60px 40px;
    background-color: #ebedfa;
}

.contact__title {
  font-size: 45px;
  font-weight: 700;
  margin: 40px 0;
}

.contact__subtitle {
  font-weight: 600;
  font-size: 25px;
}

.contact__container {
  display: flex;
  font-size: 18px;
}

.contact__container a{
  color: #11cdf7;
  font-size: 18px;
}

.contact__left {
  flex: 0 1 45%;
  padding: 15px;
}

.contact__right {
  flex: 0 1 45%;
  padding: 15px;
}

.contact__link{
  padding: 5px 10px;
}

.contact__links{
  padding: 10px;
}



/*ФУТЕР*/

.footer {
  background-color: #002A33;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  flex: 0 1 45%;
  color: #9da5cf;
  font-weight: 500;
  opacity: 0.6;
  padding: 25px;
}

.footer__search {
  flex: 0 1 40%;
  align-self: end;
  padding: 25px 15px;
}

.footer__search input {
  padding: 5px;
  border-radius: 3px;
}

.footer__input{
    display: inline-block;
}

.footer__links {
    flex: 0 1 45%;
    padding: 25px;
}

.footer__link {
    padding: 0 5px;
    color: #9da5cf;
}

.footer__link:hover {
    color: #c1c7e3;
}