*.log
*.pot
*.pyc

__pycache__/
.env
.env/
.elasticbeanstalk/
logs/
media/
locale/
node_modules/

.DS_Store
db.sqlite3
package-lock.json
settings/local_settings.py
settings/whoosh*
static/
dump.json
media/
.vscode/
__pycache__
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
