

.followers {
	max-width: 90%;
	padding: 20px;
	margin: 40px auto;
}

.followers__filter{
	flex: 0 1 20%;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	margin: 0 0 20px 0;
}

.followers__filter form {
	/*border: 3px solid red;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.followers__input {
	flex: 0 1 40%;
	/*border: 4px solid red;*/
}

.followers__input input{
	/*border: 1px solid gray;*/
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	width: 100%;
}

.followers__gender select {
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.followers__gender{
	position: relative;
	flex: 0 1 9%;
	/*border: 4px solid red;*/
}

.gender {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 5px;
	pointer-events: none;
}


.followers__similar {
	align-self: center;
	flex: 0 1 36%;
	padding: 0 0 0 70px;
	/*border: 3px solid red;*/
}

.followers__similar input {
	
}

.followers__checkbox {
	padding: -5px 0 0 0;
	display: inline-block;
	/*border: 4px solid red;*/
}


.followers__button {
	flex: 0 1 10%;
	/*border: 4px solid red;*/
}

.followers__button input{
	/*border: 1px solid gray;*/
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	width: 100%;
}






@media (max-width: 842px) {


.followers {
	padding: 10px;
	margin: 20px auto;
}

.followers__filter{
	flex: 0 1 20%;
	border-radius: 12px;
	padding: 12px;
	margin: 0 0 15px 0;
}

.followers__input {
	flex: 0 1 40%;
}

.followers__input input{
	padding: 5px;
	border-radius: 3px;
	width: 90%;
}

.followers__gender select {
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.followers__gender{
	position: relative;
	flex: 0 1 9%;
}

.gender {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 5px;
	pointer-events: none;
}


.followers__similar {
	align-self: center;
	text-align: center;
	flex: 0 1 36%;
	padding: 0 0 0 0px;
}

.followers__similar input {	
}

.followers__checkbox {
	padding: -5px 0 0 0;
	display: inline-block;
}


.followers__button {
	flex: 0 1 10%;
}

.followers__button input{
	padding: 5px;
	border-radius: 3px;
}

}


@media (max-width: 660px) {


.followers {
	padding: 10px;
	margin: 15px auto;
}

.followers__filter{
	flex: 0 1 20%;
	border-radius: 10px;
	padding: 10px;
	margin: 0 0 12px 0;
}

.followers__input {
	flex: 0 1 30%;
}

.followers__input input{
	padding: 4px;
	border-radius: 3px;
	width: 100%;
	font-size: 10px;
}

.followers__gender select {
	padding: 4px;
	border-radius: 3px;
	background-color: #f5f5f5;
	font-size: 10px;
}

.followers__gender{
	position: relative;
	flex: 0 1 5%;
}

.gender {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 5px;
	pointer-events: none;
}


.followers__similar {
	align-self: center;
	flex: 0 1 36%;
	padding: 0 0 0 0px;
	font-size: 10px;
}

.followers__similar input {	
}

.followers__checkbox {
	padding: -5px 0 0 0;
	display: inline-block;
}


.followers__button {
	flex: 0 1 10%;

}

.followers__button input{
	padding: 4px;
	border-radius: 3px;
	font-size: 10px;
}

}



@media (max-width: 430px) {

.followers {
	padding: 5px;
	margin: 5px auto;
}

.followers__filter{
	flex: 0 1 20%;
	border-radius: 10px;
	padding: 5px;
	margin: 0 0 8px 0;
}

.followers__input {
	flex: 0 1 40%;
}

.followers__input input{
	padding: 3px;
	width: 100%;
	font-size: 8px;
}

.followers__gender select {
	padding: 3px;
	font-size: 8px;
}

.followers__gender{
	position: relative;
	flex: 0 1 4%;
}

.gender {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 5px;
	pointer-events: none;
}


.followers__similar {
	display: none;
}

.followers__button {
	flex: 0 1 10%;

}

.followers__button input{
	padding: 3px;
	font-size: 8px;
}

}








.followers__items {
	flex: 0 77%;
	display: flex;
	flex-direction: column;
	padding: 20px;

	background-color: white;
	border-radius: 15px;
}

.followers__item {
	/*justify-content: space-between;*/
	margin: 0 0 10px 0;

	display: flex;
}

.followers__title {
	padding: 20px 0;
	font-size: 25px;
}

.followers__left {
	/*flex: 0 0 120px;*/
}

.followers__img {
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.followers__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.followers__right {
	flex: 0 1 40%;
	padding: 0 0 0 30px;
	font-size: 16px ;
	align-self: center;

}

.followers__name a {
	color: black;

}

.followers__subname a{
	color: gray;
	font-size: 15px;
}


.followers__empty {
	opacity: 0.7;
	padding: 20px 60px;
}

.followers__more{
	margin: 20px 40px;
	border-bottom: 2px solid gray;
}




@media (max-width: 842px) {


.followers__items {
	padding: 20px;
	border-radius: 15px;
}

.followers__item {
	margin: 0 0 10px 0;
}

.followers__title {
	padding: 20px 0;
	font-size: 20px;
}

.followers__left {
	/*flex: 0 0 120px;*/
}

.followers__img {
	width: 80px;
	height: 80px;
}

.followers__right {
	flex: 0 1 40%;
	padding: 0 0 0 30px;
	font-size: 14px ;
	align-self: center;

}

.followers__empty {
	opacity: 0.7;
	padding: 20px 60px;
}

.followers__more{
	margin: 10px 40px 20px 40px;
	border-bottom: 2px solid gray;
}


	.footer {
		display: none;
	}

}



@media (max-width: 430px) {


.followers__items {
	padding: 10px;
	border-radius: 15px;
}

.followers__item {
	margin: 0 0 5px 0;
}

.followers__title {
	padding: 15px 0;
	font-size: 14px;
}

.followers__left {
	/*flex: 0 0 120px;*/
}

.followers__img {
	width: 45px;
	height: 45px;
}

.followers__right {
	flex: 0 1 40%;
	padding: 0 0 0 20px;
	font-size: 10px ;
}

.followers__empty {
	opacity: 0.7;
	padding: 5px 15px;
	font-size: 8px;
}

.followers__more{
	margin: 0px 10px 10px 10px ;
	border-bottom: 1px solid gray;
	font-size: 8px;
}


	.footer {
		display: none;
	}

}
