

.followers {
	max-width: 90%;
	padding: 20px;
	margin: 40px auto;
}

.followers__filter{
	flex: 0 1 20%;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	margin: 0 0 20px 0;
}

.followers__filter form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.followers__input {
	flex: 0 1 40%;
}

.followers__input input{
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	width: 100%;
}

.followers__gender select {
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.followers__gender{
	position: relative;
	flex: 0 1 9%;
}

.gender {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 5px;
	pointer-events: none;
}


.followers__similar {
	align-self: center;
	flex: 0 1 36%;
	padding: 0 0 0 70px;
}

.followers__similar input {}

.followers__checkbox {
	padding: -5px 0 0 0;
	display: inline-block;
}


.followers__button {
	flex: 0 1 10%;
}

.followers__button input{
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	width: 100%;
}


@media (max-width: 842px) {

	.followers {
		padding: 10px;
		margin: 20px auto;
	}

	.followers__filter{
		flex: 0 1 20%;
		border-radius: 12px;
		padding: 12px;
		margin: 0 0 15px 0;
	}

	.followers__input {
		flex: 0 1 40%;
	}

	.followers__input input{
		padding: 5px;
		border-radius: 3px;
		width: 90%;
	}

	.followers__gender select {
		padding: 5px;
		border-radius: 3px;
		background-color: #f5f5f5;
	}

	.followers__gender{
		position: relative;
		flex: 0 1 9%;
	}

	.gender {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f5f5f5;
		border-radius: 3px;
		padding: 5px;
		pointer-events: none;
	}

	.followers__similar {
		align-self: center;
		text-align: center;
		flex: 0 1 36%;
		padding: 0 0 0 0px;
	}

	.followers__checkbox {
		padding: -5px 0 0 0;
		display: inline-block;
	}

	.followers__button {
		flex: 0 1 10%;
	}

	.followers__button input{
		padding: 5px;
		border-radius: 3px;
	}
}


@media (max-width: 660px) {

	.followers {
		max-width: 100%;
		padding: 10px 0px;
		margin: 10px auto;
	}

	.followers__filter{
		flex: 0 1 20%;
		border-radius: 10px;
		padding: 10px;
		margin: 0 0 12px 0;
	}

	.followers__input {
		flex: 0 1 30%;
	}

	.followers__input input{
		padding: 4px;
		border-radius: 3px;
		width: 100%;
	}

	.followers__gender select {
		padding: 4px;
		border-radius: 3px;
		background-color: #f5f5f5;
	}

	.followers__gender{
		position: relative;
		flex: 0 1 5%;
	}

	.gender {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f5f5f5;
		border-radius: 3px;
		padding: 5px;
		pointer-events: none;
	}

	.followers__similar {
		align-self: center;
		flex: 0 1 36%;
		padding: 0 0 0 0px;
	}

	.followers__checkbox {
		padding: -5px 0 0 0;
		display: inline-block;
	}

	.followers__button {
		flex: 0 1 10%;
	}

	.followers__button input{
		padding: 4px;
		border-radius: 3px;
	}
}



@media (max-width: 430px) {

	.followers__filter{
		flex: 0 1 20%;
	}

	.followers__input {
		flex: 0 1 40%;
	}

	.followers__input input{
		width: 100%;
	}

	.followers__gender{
		position: relative;
		flex: 0 1 4%;
	}

	.gender {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f5f5f5;
		border-radius: 3px;
		pointer-events: none;
	}

	.followers__similar {
		display: none;
	}

	.followers__button {
		flex: 0 1 10%;
	}

}






.followers__items {
	flex: 0 77%;
	display: flex;
	flex-direction: column;
	padding: 20px;

	background-color: white;
	border-radius: 15px;
}

.followers__item {
	margin: 0 0 10px 0;
	display: flex;
}

.followers__title {
	padding: 20px 0;
	font-size: 25px;
}

.followers__left {}

.followers__img {
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.followers__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.followers__right {
	flex: 0 1 40%;
	padding: 0 0 0 30px;
	font-size: 16px ;
	align-self: center;
}

.followers__name a {
	color: black;
}

.followers__subname a{
	color: gray;
	font-size: 15px;
}

.followers__empty {
	opacity: 0.7;
	padding: 20px 60px;
}

.followers__more{
	margin: 20px 40px;
	border-bottom: 2px solid gray;
}



@media (max-width: 842px) {

	.followers__items {
		padding: 20px;
		border-radius: 15px;
	}

	.followers__item {
		margin: 0 0 10px 0;
	}

	.followers__title {
		padding: 20px 0;
		font-size: 20px;
	}

	.followers__img {
		width: 80px;
		height: 80px;
	}

	.followers__right {
		flex: 0 1 40%;
		padding: 0 0 0 30px;
		align-self: center;
	}

	.followers__empty {
		opacity: 0.7;
		padding: 20px 60px;
	}

	.followers__more{
		margin: 10px 40px 20px 40px;
		border-bottom: 2px solid gray;
	}

	.footer {
		display: none;
	}

}


@media (max-width: 430px) {

	.followers__img {
		width: 45px;
		height: 45px;
	}

	.followers__right {
		flex: 0 1 40%;
	}

	.followers__empty {
		opacity: 0.7;
	}

	.followers__more{
		border-bottom: 1px solid gray;
	}

}
