{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/collect_tag.css' %}">
{% endblock %}


{% block content %}

	<div class="content__tags">
		{% for i in tags %}
			<a href="{% url 'blog:collect_tag' i %}">#{{ i }}</a>
		{% endfor %}
	</div>

	<div class="content__collect">
		Подборка по тегу #{{ tag }}
	</div>

    <div class="collect">
	    {% for i in posts %}
	        <div id="collect{{ forloop.counter }}" class="collect__item">
				<div class="collect__img">
					<a href="{{ i.get_absolute_url }}">
						<img src="{{ i.image.url }}" alt="">
					</a>
				</div>
				<div class="collect__title">
					<a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
				</div>
				<div class="collect__text">
					<a href="{{ i.get_absolute_url }}">
						{{ i.body|truncatewords:20|safe }}
					</a>
				</div>
	        </div>
	    {% endfor %}
    </div>
    
{% endblock %}