<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Мой первый проект</title>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/style2.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
	</head>

	<body>

		<div class="wrapper">
			
			<nav class="nav">
				<div class="container">
					<div class="nav__items">
						<div class="nav__logo">
							<img  src="img/logo.png" alt="">
						</div>
						<div class="nav__links">
							<!-- <div class="nav__layer"> -->
								<div class="nav__link">
									<a href="">Главная</a>
									<a href="">Поиск</a>
									<a href="">О нас</a>
									<a href="">Контакты</a>
									<a href="">Пердун</a>
							
								</div>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</nav>
			<div class="pre__intro">
				
			 
			<div class="intro">
				<div class="container">
					<div class="intro__container">
						<div class="intro__title">
						Все о кино.
						</div>
						<div class="intro__empty"></div>
					</div>	
				</div>
			</div>

			</div>

			<div class="lenta">
				<div class="container">
					<div class="lenta__container">
						
						<div class="lenta__item">
					<div class="lenta__img">
						<img src="img/lol3.jpg" alt="">
					</div>
					<div class="lenta__title">Lorem, ipsum dolor sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
					<div class="lenta__publish">2023-03-04</div>
				</div>
				<div class="lenta__item">
					<div class="lenta__img">
						<img src="img/lol.jpg" alt="">
					</div>
					<div class="lenta__title">Lorem, ipsum dolor sit.</div>
					<div class="lenta__publish">2023-03-04</div>
				</div>
				<div class="lenta__item">
					<div class="lenta__img">
						<img src="img/lol2.jpg" alt="">
					</div>
					<div class="lenta__title">Lorem, ipsum dolor sit.</div>
					<div class="lenta__publish">2023-03-04</div>
				</div>

					</div>

				</div>
			</div>

			<div class="content">
				<div class="container">
					<div class="content__container">
						<div class="content__left">
							




							<div class="content__item">
								<div class="content__img">
									<img src="img/lol2.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol3.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol2.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol3.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol2.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol3.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>





						</div>
						<div class="content__right">

							<div class="content__item">
								<div class="content__img">
									<img src="img/lol2.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>


							<div class="content__item">
								<div class="content__img">
									<img src="img/lol3.jpg" alt="">
								</div>
								<div class="content__title">Lorem ipsum dolor sit.</div>
								<div class="content__text">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet, earum harum expedita, sit voluptatem?
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>


			<div class="contact">
				<div class="container">
					<div class="container__else">
						
								<div class="contact__title">Контакты</div>

					<div class="contact__container">
						<div class="contact__left">
							<div class="contact__subtitle">
								Наши контакты
							</div>
							<div class="contact__links">
								<div class="contact__link">Позвонить: <a href="#">+7 523-244-65-34</a></div>
								<div class="contact__link">Написать: <a href="#">forwork31415@gmail.com</a></div>
							</div>
							

						</div>
						<div class="contact__right">
							<div class="contact__subtitle">
								Мы в сети
							</div>
							<div class="contact__links">
								<div class="contact__link">Общаться: <a href="#">Telegram</a></div>
							<div class="contact__link">Подпистаься: <a href="#">Youtube</a></div>
							<div class="contact__link">Смотреть: <a href="#">Some</a></div>
							</div>
							

						</div>
					</div>

					</div>
				</div>
			</div>


			<div class="footer">
				<div class="container">
					<div class="footer__items">
						<div class="footer__text">
							Lorem ipsum dolor sit amet consectetur adipisicing, elit. Delectus ipsam vero labore eos, veritatis nam a possimus vitae repudiandae libero voluptatum, neque modi, dolores. Id dolores eligendi totam laudantium asperiores.
						</div>
						<div class="footer__search">
							<input type="text">
						</div>
					</div>
				</div>
			</div>
			
		</div>

	</body>
	
</html>