{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/edit.css' %}">
{% endblock %}


<!-- НА ДАННЫЙ МОМЕНТ ЕЩЕ НЕТ ФУНКЦИОНАЛА ЧАТОВ МЕЖДУ ПОЛЬЗОВАТЕЛЯМИ -->

{% block content %}

    <p >Функционал общения находиться в разработке. Появиться в ближайшем обновлении (середина октября)</p>

    <div class="outblock">
        <div class="innerblock">1</div>
        <div class="innerblock">2</div>
        <div class="innerblock">3</div>
        <div class="innerblock">4</div>
        <div class="innerblock">5</div>
    </div>

{% endblock %}