* {padding: 0;margin: 0;border: 0;}*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: 'calibri';}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}


body {
  font-family: "Montserrat";
}



.content__block {
  display: flex;
  justify-content: space-around;
  margin: 20px 40px;
}

.content__left {
  flex: 0 1 20%;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px 0;

  -webkit-box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
}


/*Панель аватарки*/

.left__items {}

.left__ava {
  position: relative;
  height: 180px;
  width: 90%;
  margin: 20px auto 10px auto;
}

.left__edit {
  border-radius: 6px;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 5px;
  font-size: 19px;
  text-align: center;
  font-weight: 600;
}

.left__edit a{
  font-size: 17px;
  color: #bdb7b7;
}

.left__edit:hover a{
  color: #a19a9a;
}


.left__ava img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}


/*Панель подписок и главной информации*/

.content__right {
  flex: 0 1 58%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
}


.right__items {
   /*text-align: center;*/
}


.right__nickname {
  font-size: 50px;
  font-weight: 700;
  color: #6b6b6b;
}


.right__links {
  margin: 30px auto;
  border-bottom: 1px solid gray;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-around;
}


.right__link {
  transition: all 0.2s ease;
}

.right__link a {
  font-size: 20px;
  padding: 0 10px;
  color: black;
}


.right__link:hover {
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.right__link:hover a {
  color: #969696;
}

.right__status {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
}


.right__tags {
  padding: 10px 0;
}



/*Доп. функционал (в синих кружочках)*/

.content__third{
  flex: 0 1 8%;
  border-radius: 10px;
  margin: 10px 0 0 -10px;
}


.third__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}




@media (max-width: 992px) {
/*  .content__third{
  display: none;
  }*/



  .content__left {
  flex: 0 1 20%;
}

.content__right {
  flex: 0 1 58%;
}

}



@media (max-width: 768px) {

	.content__third{
		display: none;
	}

}

@media (max-width: 668px) {

.content__block {
  flex-direction: column; 
}

.content__third {
	display: block;
}

 .third__items {
  flex-direction: row;
}

   .content__left {
  margin: 0 0 20px 0;
}

.left__ava {
  height: 340px;
  width: 80%;
}

}



@media (max-width: 512px) {

  .content__block {
  display: flex;
  justify-content: space-around;
  margin: 10px 15px;
}

  .content__left {
  flex: 0 1 100vw;
}

  .content__right {
    padding: 10px;
    width: 100%;
  }

.content__block {
  flex-direction: column; 
}

.right__nickname {
  font-size: 40px;
  font-weight: 700;
}

.right__links {
  /*flex-direction: column;*/
  /*text-align: center;*/
  margin: 10px auto;
  padding: 0 0 10px 20px;
}

.right__link a {
  font-size: 13px;
  padding: 0 5px;
}

.right__status {
  font-size: 15px;
  font-weight: 600;
}

.right__tags {
  display: none;
}

}



@media (max-width: 512px) {

    .right__nickname {
    font-size: 30px;
    font-weight: 700;
  }

  .right__links {
    margin: 10px auto;
    padding: 0 0 10px 0;
  }

/*  .right__links a {
    font-size: 10px;
  }*/


}




/*Второй ряд (лента друзей и личные публикации)*/

.content__block2 {
  margin: 15px auto;
  padding: 0 0 0 30px;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/*Лента друзей*/
/*
.grid {
  display: grid;
  width: 25vmin;
  height: 25vmin;
  padding: 1em;
  gap: 1em;
  grid-template-columns: repeat(1, 4fr);
  overflow: auto;
  list-style-type: none;
  transition: all 0.5s ease;
}

li {
  padding: 0;
}

.card {
  transform: scale(calc(0.25 + (var(--shown, 1) * 0.75)));
  transition: all 0.5s ease;
  background-color: #F7C548;
  aspect-radio:  1;
}*/

.content__prenews {
  flex: 0 1 20%;
  background-color: white;
  border-radius: 8px;

  width: 160px;

  padding: 20px;
  text-align: center;
  margin: 0 10px 0 0;
  min-height: 500px;

  -webkit-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
}

.content__news {
  
  
}

.content__lenta-title {
  padding: 10px 0;
  font-weight: 700;
  opacity: 0.6;
  text-align: left;
}

.news {
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s ease;

  border-radius: 3px;
  overflow: hidden;
}

.news:hover {
  transform: scale(1.04);
  /*opacity: 0.5;*/
  transition: all 0.3s ease;
}

.news__img {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  border-radius: 3%;
  overflow: hidden;
}

.news__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}

.news__ava {
 /* background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);*/
  padding: 15px;
  position: relative;
  width: 30px;
  height: 30px;
  /*background-color: white;*/
}

.news__ava img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  
}

/*.news__ava:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;

}*/

.news__text {
  transition: all 0.3s ease;
  opacity: 0;

  margin: 0 0 5px 5px;
  height: 30px;

  width: 85%;
  text-align: left;


  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 150;

  display: flex;

}

.news__text a {
  /*color: white;*/
}

.news__text:hover {
  transform: scale(0.9);
  background-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  transition: all 0.3s ease;

}

.news__username {
  align-self: center;
  font-weight: 700;
  color: #303030;
  padding: 0 0 0 5px;
}

.news__bodyback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.news__body {
  display: none;
  color: #303030;
  margin: 10px 0;
  text-align: left;
  font-weight: 600;
  z-index: 120;



  position: absolute;
  top: 3%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  left: 5%;
  right: 0;
  /*text-align: center;*/
  z-index: 110;


}

 /*******************************/
 /******************************/
/****Разобрать****************/
.messages{
    margin: 20px 50px
}
.success{
    background-color: #5ee575;
    padding:20px;
    font-size: 15px;
    border-radius: 8px;
}
.error{
    background-color: red;
    padding:8px;
    font-size: 15px;
    border-radius: 8px;
}
.logout{
    margin: 40px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 16px;
}
/****Разобрать****************/
/*****************************/
/*****************************/



/*Личные публикации */

.content__pub {
  flex: 0 1 76%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 0 20px 0 0 ;
  min-height: 200px;



  -webkit-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
  box-shadow: 0px 0px 12px -3px rgba(34, 60, 80, 0.33);
}

.post {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}

.post a {
  color: black;
}

.post__all {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.post__button a {
    padding: 6px;
    border-radius: 7px;
    background-color: #A9A9A9;
    color: white;
}

.post__button{
    margin: 15px;
    display: inline-block;
    font-size: 14px;
    transition: all 0.4s ease;
}

.post__button:hover a{
  background-color: #878787;
  transition: all 0.4s ease;
  
}

.post__button:hover {
  transform: scale(0.95);
  transition: all 0.4s ease;
}

.post__items {
  margin: 0 0 20px 0;
  align-self: center;
  width: 90%
}

.post__img {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.post__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.post__icon {
  margin: 5px 15px;
}

.post__icon img {
  width: 34px;
  margin: 0 10px 0 0 ;
}

.small-icon img {
  width: 24px;
  margin: 0 10px 0 0 ;
}

.post__desc {
    margin: 7px 15px 0px 15px;
    width: 100%;
}

.post__created{
    margin: 5px 15px;
    font-size: 13px;
    color: gray;

}

.post__total-like {
  padding: 0 15px;
  font-weight: 600;
}



/*Личные публикации: КОММЕНТАРИИ*/

.post__comment-form {
  display: none;
  margin: 15px;
}

.post__comment{
    margin: 6px 15px;
}

.post__comment a{
    color: gray;
    text-decoration: underline;
}


.comment {}
.comment__form form{
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  position: relative;
}
.comment__user {
  font-weight: 500;
  /*align-self: flex-start;*/
}

.comment__input {
  flex: 0 1 50%;
  margin: 10px;
}

.small-input input{
  background-color: whitesmoke;
}

.comment__input input {
  /*padding: 2px;*/
  /*background-color: #faf7f7;*/
  border-bottom: 1px solid #dedcdc;
  width: 100%;
  height: 100%;
}

.comment__button{
  border-radius: 10px;
  overflow: hidden;
  
}

.comments__submit{

  padding: 5px 10px;
  font-weight: 700;
  color: white;
  background-color: #ff6b6b;
}

.comments__submit:hover {
  background-color: #eb4646 ;
}

.flood{
  position: absolute;
  top: -50px;
  left: 0;
  display: none;
}

.comment__list {}

.list {
  margin: 5px 10px;
}
.list__user {
  font-weight: 600;
}
.list__body {
  margin: 0 20px;
}
.list__publish {}


.list span{
  font-size: 12px;
  font-weight: 500;
  color: gray;
}



/*@media (max-width: 1200px) {

}*/

@media (max-width: 626px) {

  .news {
    padding: 0 5px 0 0;
  }

  .news__ava {
    height: 30px;
  }

  .footer{
    display: none;
  }

  .content__block2 {
  padding: 0 0 0 0px;
  flex-direction: column;
}

 .post__img {
  width: 100%;
  height: 40vh;
}

.content__prenews {
  width: 100%;
  border-radius: 0px;
  min-height: 200px;
  max-height: 250px;

  padding: 20px;
  text-align: center;
  margin: 10px auto 15px auto;
}


.content__pub {
  padding: 20px;
  margin: 0 auto;
  /*border: 4px solid red;*/
}

.post__items {
  font-size: 14px;
}

.post__items a {
  font-size: 14px;
}

/*.post__icon {
  margin: 5px ;
}*/
.post__icon img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0 ;
}

.post__all {
    font-size: 14px;
    margin: 0 0 14px 0;
  }

.post__button{
    margin: 5px;
    font-size: 11px;
}

}



@media (max-width: 412px) {

  .post__all {
    font-size: 12px;
    margin: 0 0 10px 0;
  }

  .post__button{
    margin: 5px;
}


  .post__all a{
    /*font-size: 10px;*/
  }

/*  .post__items {
    margin: 0 auto;
  }*/
  .post__img {
  width: 90%;
  height: 40vh;
}

.noimg {
  border-radius: 10px;
  padding: 5px;  
  width: 100%;
  margin: 10px auto;
}

.post__icon img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0 ;
}


.post__items {
  /*font-size: 9px;*/
}

.post__items a{
  /*font-size: 9px;*/
}

}




/*@media (max-width: 320px) {
  .content__prenews {
  width: 80%;

  padding: 10px;
  text-align: center;
  margin: 10px auto;

}

.post__all {
    font-size: 8px;
  }

  .post__all a{
    font-size: 6px;
  }


  .post__icon img {
  width: 15px;
}



}*/
















.noimg {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;

  /*border: 4px solid red ;*/
}

/****Разобрать****************/
/****Разобрать****************/
.user__photo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__name {
  margin: 30px 0 0 0;
  display: inline-block;
}

.user__list {
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
}
/****Разобрать****************/



