

.profile {
	position: relative;
}

.profile__card {}

.card {
	margin: 4vh 4vw;
	padding: 1.5vw;
	background-color: white;
	border-radius: 20px;

	display: flex;
}

.card__img {
	flex: 0 0 20%;
	position: relative;
}

.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 10px;
	overflow: hidden;
}

.card__text {
	flex: 0 1 78%;
	padding: 15px 10px;
}


.card__firstline {
	display: flex;
	justify-content: space-around;
/*	width: 85%;
	margin: 0 auto;*/
}

.card__nickname {
	flex: 0 1 15%;
	font-size: 50px;
	font-weight: 700;
}

.card__follow {
	flex: 0 1 70%;
	align-self: center;
	width: 90%;
	/*border: 3px solid red;*/
	text-align: center;
}

.card__follow a{
	font-size: 20px;
	font-weight: 500;
	color: white;
	background-color: #f55d5d;

	display: inline-block;
	width: 90%;
	
	text-align: center;
	padding: 8px 10px;

	border-radius: 5px;

	transition: background-color 0.15s ease-in;
}



.sign a {
	background-color: gray;
}

.unsign a {
	background-color: #f55d5d;
}

.card__subs {
	display: flex;
	width: 85%;
	justify-content: space-between;
	margin: 30px auto;
}

.card__subs a {
	color: black;
	font-weight: 400;
	font-size: 20px;
}

.card__status {
	width: 85%;
	margin: 0 auto;
}




@media (max-width: 740px) {

	.card__img {
	flex: 0 0 30%;
	border-radius: 30px;
}

	.card__nickname {
	font-size: 40px;
	font-weight: 600;
}

}

@media (max-width: 600px) {

	.card__nickname {
	font-size: 30px;
	font-weight: 600;
}

	.card__subs {
		flex-direction: column;
	}

	.card__status {
		font-size: 10px;
	}

	.card__text {
	flex: 0 1 70%;
	padding: 10px 5px;
}


.card__follow {
	width: 80%;
}

.card__follow a {
	padding: 4px;
	font-size: 14px;
}


.card__subs {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: 10px auto;
	font-size: 13px;
}

	
}

@media (max-width: 430px) {

	.card__nickname {
	font-size: 20px;
	font-weight: 600;
}


	.card__firstline {
		flex-direction: column;
	}

	.card__follow {
		margin: 2vh 0 0 0;
		text-align: left;
		width: 100%;
	}




 .card__subs {
	width: 95%;
	margin: 6px auto;
	font-size: 10px;
}

 .card__subs a{
	font-size: 10px;
}

.card__text {
	padding: 5px 5px;
}


}


@media (max-width: 430px) {

	.card__firstline {
		flex-direction: column;
	}

	.card__follow {
		margin: 2vh 0 0 0;
		text-align: left;
	}
}













.profile__gallery {
	margin: 20px auto;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	width: 80%;

	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr 1fr;
	gap: 7px;
}



.gallery__items {
	/*border: 5px solid red;*/
	min-height: 100px;
}

.gallery__img {
	position: relative;
	min-height: 100px;
	
}

.gallery__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.gallery__title {
	
	text-align: center;
	margin: auto 0;
	padding: 15%;
	background-color: #f5f5f5;
	height: 100%
}


/*Для абсолют*/


.slick-prev {
	position: absolute;
	top: 40%;
	left: -70px;
}

.slick-next {
	position: absolute;
	top: 40%;
	right: -70px;
}

.slick-arrow{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   font-size: 22px;
   margin: auto;
}    

.abs_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.65;
	background-color: black;
	z-index: 1000;
	display: none;

	/*visibility: hidden;*/
}

.abs__abs {
	position: absolute;
	top: 15vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/*text-align: center;*/
	z-index: 1001;

	margin: 20px auto;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	width: 60vw;

	display: none;	
}

.abs_profile__gallery {
	position: relative;
	display: none;
}

.slick-initialized {
	position: absolute;
}

.slick-slider {
	position: absolute;
}



.abs_gallery__items {
	min-height: 100px;
}

.abs_gallery__item {
	min-height: 100px;
	display: flex;
}

.abs_gallery__img {
	flex: 0 1 50%;

	position: relative;
	min-height: 250px;

	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	/*border: 3px solid red;	*/
}


.abs_gallery__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.abs_gallery__title {

	flex: 0 1 50%;
	
	text-align: center;
	margin: auto 0;
	padding: 15%;
	background-color: #f5f5f5;
	min-height: 230px;
	font-size: 25px;

	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


.abs_gallery__actions {
	flex: 0 1 50%;
}





/******************************/


.abs_post__desc {
	text-align: left;
	color: black;
	padding: 10px;
}


.abs_profile__user {
	font-weight: 600;
	margin: 0 10px 0 0;
}


.abs_post__total-like {
	text-align: left;
	margin: 0 0 0 10px;

}

.abs_post__icon {
	display: flex;
	padding: 5px 0 0 10px;
}


.abs_read-comment {
	text-align: left;
	padding:  10px;
}

.abs_post__created {
	text-align: left;
	padding: 0 0 0 30px;
}









.profile__emptypost {
	margin: 20px 0;
	text-align: center;
	vertical-align: center;
}

.profile__emptypost-text{
	display: inline-block;
	padding: 10px 0 0 10px;
	opacity: 0.6;
}




.lol {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	display: none;
}
