{% extends 'base.html' %}
{% load static %}


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/change_pass.css' %}">
{% endblock %}


{% block content %}

	<div class="changepass">
		
		<div class="changepass__title">
			Смена пароля
		</div>

		<form action="{% url  'account:home' %}" method="post">
			{% csrf_token %}
			<div class="changepass__oldpass">
				<div class="changepass__subtitle">
					Введите старый пароль
				</div>
				{{ form.old_password }}
			</div>

			<div class="changepass__oldpass">
				<div class="changepass__subtitle">
					Введите новый пароль
				</div>
				{{ form.new_password1 }}
			</div>

			<div class="changepass__oldpass">
				<div class="changepass__subtitle">
					Повторите новый пароль
				</div>
				{{ form.new_password2 }}
			</div>

			<div class="changepass__button">
				<input type="submit" value="Сменить">
			</div>
		</form>
	</div>
					
{% endblock %}

	
