{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/create_post.css' %}">
{% endblock %}


{% block content %}

<div class="post">

        <div class="post__title">
            Создание записи
        </div>
        
        <div class="post_form">

            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="post__image">
                    {{ form.image }}
                </div>
                <div class="post__textarea">
                    {{ form.body }}
                </div>
                <div class="post__error">
                    *Для публикации нужен как минимум текст или фотография
                </div>
                <div class="post__button">
                    <input type="submit" value="Опубликовать">
                </div>
            </form>

        </div>
</div>


{% endblock %}




{% block domready %}

    $('.post__button').click(function(e) {

        var checkOne = $.trim($('.post__textarea textarea').val());
        var checkTwo = $('.post__image input').val();

        if (!checkOne && !checkTwo) {
            $('.post__error').slideDown()
            e.preventDefault();
            return false;
        } else {}
    })


{% endblock %}